
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nhungCss{
    <link href="~/wwwroot/css/account1.css" rel="stylesheet" />
}

<div class="content1">
    <div class="content1-left">
        <div class="taikhoan">
            <div class="a1">
                <i class="fas fa-bars"></i>
            </div>
            <div class="a2">
                <p style="font-size:15px; padding-top: 3px">MENU TÀI KHOẢN</p>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href=@Url.Action("Login","Login")>Đăng Nhập</a></li>
                <li><a href=@Url.Action("Register","Login")>Đăng Ký</a></li>

            </ul>
        </div>
    </div>
    <div class="content1-right">
        <div>
            <i class="fas fa-home"></i>
            <a href=@Url.Action("Index","Home") class="content_cart-home">Trang chủ</a>
            <i class="fas fa-angle-double-right"></i>
            <a href=@Url.Action("Login","Login") class="content_cart-title">Đăng nhập</a>

        </div>
        <div class="title_block-product">
            <h3>
                Đăng nhập tài khoản
            </h3>
        </div>
        <hr />
        <div class="register_write">
            <div class="input-box">
                <label id="TenDN">Tên đăng nhập</label>
                <input type="text" placeholder="">
            </div>
            <div class="input-box">
                <label id="pass">Mật khẩu</label>
                <input type="password" placeholder="">
            </div>
            <div class="btn-box">
                <a href=@Url.Action("Index","Home")><b>Đăng nhập</b></a>
                <div class="att">
                    <br />
                    <span>Quên mật khẩu?</span>
                </div>
            </div>
        </div>
    </div>
</div>

