@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999
}

hr{
    background-color: rgba(255, 255, 255, 0.3);
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s
}

.navbar {
    padding: 15px 10px;
    
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
	height: 100vh;
	
}


.wrapper .components i{
    padding-right: 10px;
    padding-left: 10px;
}

.listcuoi{
    padding-bottom: 100px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(0, 0, 0, 0.6);;
    color: #fff;
    transition: all 0.3s
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(255, 255, 255, 0);
}

.components{
    margin-bottom: 250px;
}

#sidebar ul.components {
    padding: 20px 0px;
    
    
    
}

#sidebar ul p {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #fff
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block
}

#sidebar ul li a:hover {
    color: #fff;
    background: #318fb5
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #318fb5
}

a[data-toggle="collapse"] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #318fb5
}

ul.CTAs {
    
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

ul.CTAs a {
  
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}



a.download,
a.download:hover {
    background: #318fb5;
    color: #fff
}

.content{
    background: rgba(0, 0, 0, 0.1) !important;
}

.content .dropdown a{
    background-color: rgba(255, 255, 255, 0.1);
}



.content-wrapper {
    padding: 15px
}

.dash-card .dash-info{
    float: left;
    
}

.dash-icon{
    align-items: center;
    border-radius: 10px;
    color: #fff;
    display: inline-flex;
    font-size: 50px;
    height: 80px;
    justify-content: center;
    text-align: center;
    width: 80px;
    background-color: #318fb5;
    margin-left: 20px;
}




/* Quản lý danh mục*/
/* -----------------------------------------------------*/



.table-data__tool-right{
    margin-bottom: 20px;
    float: right;
}
.table-data__tool-right button{
    padding: 5 10;
    background-color: #63c76a;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
}
.table-data__tool-right i{
    padding-right: 5px;
    padding-left: 5px;
}

.table-data-feature .item{
    font-size: 18px;
    padding-left: 5px;
}
.table-data-feature .item:hover{
    font-size: 18px;
    
    color: #fff;
}

/* Quản lý sản phẩm*/
/* -----------------------------------------------------*/
.table-product td{
    line-height: 40px;
}

/* Thêm sản phẩm*/
/* -----------------------------------------------------*/

.contain_2 .card{
    border-radius: 10px;
  
}

.container-create {
    overflow-y: auto;
    max-height: calc(100vh - 726px);
}

@media(maz-width:768px) {
    #sidebar {
        margin-left: -250px
    }

    #sidebar.active {
        margin-left: 0px
    }

    #sidebarCollapse span {
        display: none
    }
}