
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nhungCss{
    <link href="~/wwwroot/css/account1.css" rel="stylesheet" />
}

<div class="content1">
    <div class="content1-left">
        <div class="taikhoan">
            <div class="a1">
                <i class="fas fa-bars"></i>
            </div>
            <div class="a2">
                <p> TÀI KHOẢN</p>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href=@Url.Action("EditAccount","Home")>Đổi thông tin cá nhângfdhgf</a></li>
                <li><a href=@Url.Action("ChangePass","Home")>Đổi mật khẩu</a></li>
            </ul>
        </div>
    </div>
    <div class="content1-right">
        <div>
            <i class="fas fa-home"></i>
            <a href=@Url.Action("Index","Home") class="content_cart-home">Trang chủ</a>
            <i class="fas fa-angle-double-right"></i>
            <a href=@Url.Action("Account","Home") class="content_cart-title">Tài khoản</a>
        </div>
        <div class="title_block-product">
            <h3>
                Tài khoản của tôi
            </h3>
        </div>
        <hr />
        <div class="register_write">
            <div class="input-box">
                <label id="TenDN">Tên đăng nhập</label>
                <input type="text" value="CONG123" disabled>
            </div>
            <div class="input-box">
                <label id="hoten">Họ tên</label>
                <input type="text" value="Nguyễn Văn Công">
            </div>
            <div class="input-box">
                <label id="sdt">Số điện thoại</label>
                <input type="text" value="0981497723">
            </div>
            <div class="input-box">
                <label id="email">Email</label>
                <input type="text" value="Congnguyen123@gmail.com">
            </div>
            @*<div class="btn-box">
                <a href=@Url.Action("Index","Home") >Cập nhật</a>
            </div>*@
        </div>
    </div>
</div>

