
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section nhungCss{

    <link href="~/wwwroot/css/product_list.css" rel="stylesheet" />
}

<div class="pl_content_top">
    <div class="pl_content_right">
        <div class="pl_content_right_child">
            <div class="pl_product">
                <a href=@Url.Action("ProductDetail","Home")>
                    <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                    <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                    <p class="pl_product_price">1.399.000 VNĐ</p>
                    <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
                </a>
            </div>
            <div class="pl_product">
                <a href=@Url.Action("ProductDetail","Home")>
                    <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                    <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                    <p class="pl_product_price">1.399.000 VNĐ</p>
                    <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
                </a>
            </div>
            <div class="pl_product">
                <a href=@Url.Action("ProductDetail","Home")>
                    <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                    <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                    <p class="pl_product_price">1.399.000 VNĐ</p>
                    <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
                </a>
            </div>
            <div class="pl_product">
                <a href=@Url.Action("ProductDetail","Home")>
                    <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                    <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                    <p class="pl_product_price">1.399.000 VNĐ</p>
                    <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
                </a>
            </div>
        </div>
        <div class="pl_product">
            <a href=@Url.Action("ProductDetail","Home")>
                <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                <p class="pl_product_price">1.399.000 VNĐ</p>
                <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
            </a>
        </div>
        <div class="pl_product">
            <a href=@Url.Action("ProductDetail","Home")>
                <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                <p class="pl_product_price">1.399.000 VNĐ</p>
                <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
            </a>
        </div>
        <div class="pl_product">
            <a href=@Url.Action("ProductDetail","Home")>
                <img src="~/wwwroot/Images/8935001830368_1.jpg" class="pl_product-img" />
                <li><a href=@Url.Action("ProductDetail","Home") class="pl_product_name">Mực Bút Máy Thiên Long <br>FPI-07 - Mực Tím</a></li>
                <p class="pl_product_price">1.399.000 VNĐ</p>
                <p><a href=@Url.Action("Card","Home") class="pl_product-shopping">Mua hàng</a></p>
            </a>
        </div>
        <div class="pl_product">
        </div>
        <div class="pl_product">
        </div>
        <div class="pl_product">
        </div>
    </div>
</div>

