
<div class="footer">

    <h5><i class="fas fa-map-marker-alt"></i>Hệ Thống Cửa Hàng Văn Phòng Phẩm <a href="#" class="footer_link">Fahasa</a></h5>
    <div style="display: flex;">
        <div class="footer_row">
            <h6>Hoàn Kiếm</h6>
            <ul>
                <li><a href="#">71AB Hai Bà Trưng: 024 36320669/ 0961205601</a></li>
                <li><a href="#">71AB Hai Bà Trưng: 024 36320669/ 0961205601</a></li>
                <li><a href="#">71AB Hai Bà Trưng: 024 36320669/ 0961205601</a></li>
            </ul>

        </div>
        <div class="footer_row">
            <h6>Ba Đình</h6>
            <ul>
                <li><a href="#">80 Sơn Tây: 02437343656/ 0972967465</a></li>
                <li><a href="#">32A Nguyễn Chí Thanh: 02437245423/ 0987010648</a></li>
                <li><a href="#">21B Phan Đình Phùng: 02437350058/ 0974149518</a></li>
            </ul>


        </div>

        <div class="footer_row">
            <h6>Cầu Giấy</h6>
            <ul>
                <li><a href="#">370 Cầu Giấy: 02437938961/ 0966769512</a></li>
                <li><a href="#">32A Nguyễn Chí Thanh: 02437245423/ 0987010648</a></li>
                <li><a href="#">21B Phan Đình Phùng: 02437350058/ 0974149518</a></li>
            </ul>



        </div>
    </div>
    <h4>CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ ĐẦU TƯ F.A.H.A.S.A </h4>

</div>
