
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="contain_2 container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="page-title">Dashboard</h2>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-card">

                        <div class="dash-info">
                            <h3>50</h3>
                            <h6 class="text-muted">Người dùng</h6>
                        </div>
                        <div class="dash-icon">
                            <i class="far fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-card">

                        <div class="dash-info">
                            <h3>36</h3>
                            <h6 class="text-muted">Sản phẩm</h6>
                        </div>
                        <div class="dash-icon">
                            <i class="fas fa-user-shield"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-card">
                        <div class="dash-info">
                            <h3>5</h3>
                            <h6 class="text-muted">Danh mục</h6>
                        </div>
                        <div class="dash-icon">
                            <i class="fas fa-qrcode"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="dash-card">

                        <div class="dash-info">
                            <h3>120</h3>
                            <h6 class="text-muted">Đơn Hàng</h6>
                        </div>
                        <div class="dash-icon">
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


